a {
    transition: all 0.3s ease-in-out;
}

html {
    font-size: 14px;
    // scroll-behavior: smooth;
}

body {
    padding-top: 120px;
    @include media-breakpoint-up(lg) {
      padding-top: 60px;
    }
    overflow-x: hidden;
}

::selection {
    background: theme-color(primary);
    color: theme-color('white');
}

.page {
    padding-top: 50px;
    padding-bottom: 50px;
}


.page-sm {
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

.home {
    position: relative;
    // overflow-x: hidden;
}

textarea {
    min-height: 100px;
}