.scrollspy {
  position: fixed;
  left: 20px;
  top: 0;
  padding: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  justify-content: center;

  .nav-item {
    margin: 0;

    .nav-link {
      padding: 0;
      width: 10px;
      height: 10px;
      margin: 10px 0;
      display: block;
      border-radius: 50%;
      border: 1px solid theme-color(primary);

      &.active {
        background: theme-color(primary);
      }
    }
  }
}
