<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <article>
                    <h3>
                        Второй фактор.
                    </h3>
                    <p>
                        Это эффект Плацебо. А точнее, за процесс
                        похудения возьмется ваш разум.
                        Вы слышали об эффекте плацебо? Это когда
                        человеку с определенным заболеванием дают
                        вещество без лечебных свойств (наподобие мела
                        или воды), но в больном создают уверенность, что
                        это лекарство. И пациент излечивается.
                    </p>
                    <p>
                        Однако больного человека излечивает не
                        вещество-пустышка, а собственный разум, который
                        верит в лечение.
                    </p>
                    <p>
                        И если разум может вылечить тело, то он может
                        сделать ваше тело стройным. Главное, чтобы ваш
                        разум поверил, что тело, в котором он находится,
                        стройное. Через формирование убеждения «Я
                        стройный».
                    </p>
                    <p>
                        Новое убеждение, будет влиять на внутренний
                        метаболизм. Организм перестанет активно
                        накапливать запасы в виде жира и начнет их
                        расходовать. Будут формироваться новые модели
                        поведения, связанные с питанием и физической
                        активностью.
                    </p>
                    <p>
                        Вы заметите, что раньше съедали три куска торта.
                    </p>
                    <p>
                        А теперь два куска съели и больше не хочется. Не
                        заставляйте себя по-старому съедать три,
                        ограничьтесь двумя. Ведь больше и не хочется. А
                        в дальнейшем будете наедаться и одним.
                    </p>
                    <p>
                        Раньше вы плотно ужинали, а теперь хочется
                        съесть меньше.
                        Или заменить ужин на легкий перекус.
                    </p>
                    <p>
                        Именно хочется, по-новому. Вас никто не
                        заставляет. Ваше тело, которое стремится
                        воплотить новое убеждение будет формировать
                        новое отношение к количеству и качеству еды. И
                        сила воли не нужна в этом процессе.
                        Еще вы заметите, изменения в двигательной
                        активности. Раньше вы в магазин за углом ездили
                        на машине, а теперь хочется сходить пешком. Или
                        прогуляться перед сном.
                        Или подняться по лестнице вместо лифта. Или еще
                        что-либо…
                        Не противьтесь своим новым желаниям, они
                        появляются из вашего убеждения «Я стройный» и
                        формируют вашу стройность.
                        Новое убеждение влияет на ваш организм и создает
                        новые привычки. И одной из ваших новых привычек,
                        возможно станет выполнение простого
                        одноминутного физического упражнения, которое
                        добавит вашей стройности еще и спортивности.
                    </p>
                    <p>
                        Будьте стройными с приложением «Мечтай и
                        стройней»!
                    </p>
                </article>
            </div>
            <div class="col-md-5 text-center"
                data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/method-factor-2.png"
                    srcset="/assets/img/method-factor-2@2x.png 2x"
                    />
            </div>
        </div>
    </div>
</div>
