<div class="inner-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img
                    class="wow fadeInRight"
                    data-margin-top="100"
                    src="/assets/img/method-factor-1.png"
                    srcset="/assets/img/method-factor-1@2x.png 2x"
                    />
            </div>
            <div class="col-md-7">
                <article>
                    <h3>
                        Первый фактор
                    </h3>
                    <p>
                        Правило психологии - Наши убеждения могут
                        генерировать собственные подтверждения,
                        самореализующиеся пророчества. Это тенденция,
                        выраженная в том, что ожидания вызывают
                        поведение их подтверждающее.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
