<section id="inner-hero" class="hero inner-hero">
    <div class="container">
        <div class="hero-content wow fadeInUp">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <article class="hero-heading">
                        <h1 class="inner-heading hero-title"><span
                                class="hero-subtitle">о</span>
                            <span class="text-primary">методике</span></h1>
                        <h1 class="inner-heading hero-subtitle text-muted">мечтай
                            и стройней</h1>
                    </article>
                </div>
                <div class="col-md-4 text-center">
                    <img
                        class="wow fadeInLeft"
                        data-margin-top="100"
                        src="/assets/img/methods.png"
                        srcset="/assets/img/methods@2x.png 2x"
                        />
                </div>
            </div>
        </div>
    </div>
    <div class="inner-more">
        Узнать о методике
        <img src="/assets/icons/more.svg" alt="">
        <img src="/assets/icons/more.svg" alt="">
        <img src="/assets/icons/more.svg" alt="">
    </div>
</section>