<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <article>
                    <h3>
                        Коротко о методике
                    </h3>
                    <p>
                        Наше убеждение относительно нашей внешности, определяет
                        нашу внешность.
                    </p>
                    <p>
                        Поэтому для похудения нужно создать, новое убеждение «Я
                        стройный». <br>
                        Так как если вы воспринимаете себя стройным, то будете
                        стройным. Если вы воспринимаете себя толстым, то будете
                        толстым.
                    </p>
                    <p>
                        У людей с избыточным весом, выработался
                        рефлекс-убеждение «Я толстый».
                    </p>
                    <p>
                        Они видят себя в зеркале и изображение идентифицируется
                        - это Я и я толстый.
                    </p>
                    <p>
                        Это моя одежда и она большого размера.
                    </p>
                    <p>
                        И таких неосознанных закреплений за месяцы и годы,
                        происходит множество. На приобретенный рефлекс, «Я
                        толстый», формируются подтверждающие это убеждение,
                        модели поведения. Чаще всего, нездоровые привычки
                        питания и сниженная двигательная активность.
                    </p>
                    <p>
                        Но все меняется, когда вы осознанно создаете новое
                        убеждение – «Я стройный» с помощью приложения «Мечтай и
                        стройней»
                    </p>
                </article>
            </div>
            <div class="offset-md-1 col-md-4 text-center" data-sticky-container>
                <img
                    class="js-sticky wow fadeInLeft"
                    data-margin-top="100"
                    src="/assets/img/method-right.png"
                    srcset="/assets/img/method-right@2x.png 2x"
                    />
            </div>
        </div>
    </div>
</div>