<section class="quote quote-method text-white bg-primary">
    <div class="container quote-content">
        <div class="quote-text">
            Новое убеждение «Я стройный», запустит комплексный процесс
            преобразования вашего тела
        </div>
        <img src="/assets/img/quote-logo.svg" alt="" class="quote-logo">
    </div>
</section>