<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" data-sticky-container>
                <img
                    class="js-sticky wow fadeInRight"
                    data-margin-top="100"
                    src="/assets/img/method-left.png"
                    srcset="/assets/img/method-left@2x.png 2x"
                    />
            </div>
            <div class="col-md-7 offset-md-1">
                <article>
                    <h3>
                        Начнем с краткого итога
                    </h3>
                    <p>
                        Убеждение «Я стройный», создает легкие привычки, ведущие
                        к стройности. Вы стройнеете и сильнее закрепляете
                        убеждение «Я Стройный».
                    </p>
                    <p>
                        И наоборот убеждение «Я толстый», формирует привычки
                        переедать и не двигаться. Что в свою очередь ведет к
                        набору лишнего веса и закреплению убеждения «Я толстый»
                    </p>
                    <p>
                        Что выбрать, это Ваше решение, и оно повлияет на всю
                        вашу жизнь.
                    </p>
                    <p>
                        Важно, что после того как вы похудеете, убеждение «Я
                        стройный» и новые модели поведения останутся. Поэтому вы
                        будете стройным всегда. Это вдохновляет.
                    </p>
                    <p>
                        Будьте стройными с приложением «Мечтай и стройней»!
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>