//
// Alternate buttons
//
// @each $color,
// $value in $theme-colors {
//     .btn-ab-#{$color} {
//         @include ab-button-variant($value, $value);
//     }
// }

.btn {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-lg {
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-link {
    text-transform: none;
}

.btn-white {

    &,
    &:hover {
        color: theme-color(primary);
    }
}