$accordion-padding-sm: 15px;
$accordion-padding-lg: 30px;

.card-header {
    padding: 0;
}

.card-body {
    line-height: 27px;
    padding: $accordion-padding-lg;
}

.accordion-header {
    padding: $accordion-padding-sm $accordion-padding-lg;
    background: theme-color(primary);
    color: $white;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrow-icon {
        flex-shrink: 0;

        transition: all 0.3s ease-in-out;

        path {
            fill: white;
        }
    }

    &:hover {
        background: darken(theme-color(primary), 5%);
    }

    &.collapsed {
        background: $white;
        color: theme-color(primary);

        &:hover {
            background: darken($white, 5%);
        }

        .arrow-icon {
            flex-shrink: 0;

            transform: rotate(180deg);

            path {
                fill: theme-color(light);
            }
        }
    }
}

.accordion-inner {
    .card {
        transition: all 0.3s ease-in-out;

        border-radius: 6px !important;
        border-color: rgba(theme-color(primary), 0.4);
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(theme-color(primary), 0.4) !important;

        &:hover {
            border-color: theme-color(primary);
            border-bottom: 1px solid theme-color(primary) !important;
        }
    }

    .card-header {
        position: relative;
        border-bottom: 0;
        border-radius: 6px;

        &::after {
            content: '';
            background: $text-muted;
            height: 1px;
            display: block;
            position: absolute;
            left: $accordion-padding-lg;
            right: $accordion-padding-lg;
            bottom: -1px;

            transition: all 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                background: theme-color(primary);
            }
        }
    }

    .accordion-header {
        padding: $accordion-padding-sm $accordion-padding-lg;
        background: $white;
        color: theme-color(light);
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rounded-arrow-icon {
            flex-shrink: 0;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            // background: darken($white, 2%);
            color: theme-color(primary);
        }

        &.collapsed {
            background: $white;
            color: theme-color(light);

            &:hover {
                // background: darken($white, 2%);
                color: theme-color(primary);
            }

            .rounded-arrow-icon {
                transform: rotate(180deg);
            }
        }
    }
}