.navbar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.social-links {
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  display: block;
  top: 60px;
  position: fixed;
  left: 0;
  height: 60px;
  justify-content: center;
  z-index: 1000;

  .nav-mobile {
    margin-right: 0;
  }
}
