// .nav-page {
//     @include media-breakpoint-up(lg) {
//         margin-top: 16px;
//     }
//     .nav-item{
//         margin-right: $nav-page-link-spacing-y-lg/2;
//         &:last-child{
//             margin-right: 0;
//         }
//     }
//     .nav-link {
//         font-size: $font-size-sm;
//         padding: $nav-page-link-spacing-y 0;
//         text-transform: uppercase;
//         color: $nav-page-link-color;
//         @include ab-btn-hover();
//         @include media-breakpoint-up(lg) {
//             font-size: $font-size-lg;
//             padding: $nav-page-link-spacing-y-lg 0;
//         }

//     }
// }

.nav-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-right: 2rem;

  &:last-child{
    margin-right: 0;
  }

  .nav-link {
    opacity: 0.8;
    color: theme-color(dark);

    &:hover {
      opacity: 1;
      //   transform: scale(1.1);
    }
  }
  
}

.nav-label {
  margin-left: 10px;
}

.nav-description {
  margin-right: 10px;
}

.nav-mobile {
  margin-right: 10px;
  @include media-breakpoint-up(lg) {
    margin-right: 0;
  }
}
