<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form id="faq-form">
          <div class="form-group row align-items-center">
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="nameHelp"
                placeholder="Как вас зовут?"
              />
            </div>
            <div class="col-6">
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Ваш email"
              />
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              id="question"
              rows="5"
              placeholder="Задайте тут вопрос?"
            ></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-white form-submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
