<section id="inner-hero" class="hero inner-hero">
    <div class="container">
        <div class="hero-content wow fadeInUp">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <article class="hero-heading">
                        <h1 class="inner-heading hero-title"><span
                                class="hero-subtitle">Есть</span>
                            <span class="text-primary">Вопросы?</span></h1>
                        <h1 class="inner-heading hero-subtitle text-muted">Мы
                            ответим!</h1>
                    </article>
                </div>
                <div class="col-md-4 text-center">
                    <img
                        class="wow fadeInLeft"
                        data-margin-top="100"
                        src="/assets/img/hero-faq.png"
                        srcset="/assets/img/hero-faq@2x.png 2x"
                        />
                </div>
            </div>
        </div>
    </div>
</section>