<section class="container questions">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>FAQ</h2>
      <div class="accordion accordion-inner" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <div
              class="accordion-header "
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <span>Как скачать приложение?</span>
              <partial src="_rounded-arrow-icon.html"></partial>
            </div>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Методика похудения предполагает изменение своего отношения в общем
              к еде и приему пищи в частности. То есть, чтобы похудеть,
              необходимо наладить правильное питание для похудения, а также для
              сохранения веса после диеты. Если Вы усвоите и будете
              придерживаться этих несложных правил, то лишний вес
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <div
              class="accordion-header collapsed"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="true"
              aria-controls="collapseTwo"
            >
              <span>Как зарегистрироваться?</span>
              <partial src="_rounded-arrow-icon.html"></partial>
            </div>
          </div>

          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Методика похудения предполагает изменение своего отношения в общем
              к еде и приему пищи в частности. То есть, чтобы похудеть,
              необходимо наладить правильное питание для похудения, а также для
              сохранения веса после диеты. Если Вы усвоите и будете
              придерживаться этих несложных правил, то лишний вес
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <div
              class="accordion-header collapsed"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="true"
              aria-controls="collapseThree"
            >
              <span>Что если пропустить занятие?</span>
              <partial src="_rounded-arrow-icon.html"></partial>
            </div>
          </div>

          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Методика похудения предполагает изменение своего отношения в общем
              к еде и приему пищи в частности. То есть, чтобы похудеть,
              необходимо наладить правильное питание для похудения, а также для
              сохранения веса после диеты. Если Вы усвоите и будете
              придерживаться этих несложных правил, то лишний вес
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <div
              class="accordion-header collapsed"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="true"
              aria-controls="collapseFour"
            >
              <span>Какой то еще один вопрос, и более длинный чем другие?</span>
              <partial src="_rounded-arrow-icon.html"></partial>
            </div>
          </div>

          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Методика похудения предполагает изменение своего отношения в общем
              к еде и приему пищи в частности. То есть, чтобы похудеть,
              необходимо наладить правильное питание для похудения, а также для
              сохранения веса после диеты. Если Вы усвоите и будете
              придерживаться этих несложных правил, то лишний вес
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
