<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <div
        class="accordion-header "
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <span>Старайтесь принимать пищу только</span>
        <partial src="_arrow-icon.html"></partial>
      </div>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Методика похудения предполагает изменение своего отношения в общем к еде
        и приему пищи в частности. То есть, чтобы похудеть, необходимо наладить
        правильное питание для похудения, а также для сохранения веса после
        диеты. Если Вы усвоите и будете придерживаться этих несложных правил, то
        лишний вес
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <div
        class="accordion-header collapsed"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <span>Старайтесь принимать пищу только</span>
        <partial src="_arrow-icon.html"></partial>
      </div>
    </div>

    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Методика похудения предполагает изменение своего отношения в общем к еде
        и приему пищи в частности. То есть, чтобы похудеть, необходимо наладить
        правильное питание для похудения, а также для сохранения веса после
        диеты. Если Вы усвоите и будете придерживаться этих несложных правил, то
        лишний вес
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <div
        class="accordion-header collapsed"
        data-toggle="collapse"
        data-target="#collapseThree"
        aria-expanded="true"
        aria-controls="collapseThree"
      >
        <span>Старайтесь принимать пищу только</span>
        <partial src="_arrow-icon.html"></partial>
      </div>
    </div>

    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        Методика похудения предполагает изменение своего отношения в общем к еде
        и приему пищи в частности. То есть, чтобы похудеть, необходимо наладить
        правильное питание для похудения, а также для сохранения веса после
        диеты. Если Вы усвоите и будете придерживаться этих несложных правил, то
        лишний вес
      </div>
    </div>
  </div>
  <div class="card">
      <div class="card-header" id="headingOne">
        <div
          class="accordion-header collapsed"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseFour"
        >
          <span>Старайтесь принимать пищу только</span>
          <partial src="_arrow-icon.html"></partial>
        </div>
      </div>
  
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          Методика похудения предполагает изменение своего отношения в общем к еде
          и приему пищи в частности. То есть, чтобы похудеть, необходимо наладить
          правильное питание для похудения, а также для сохранения веса после
          диеты. Если Вы усвоите и будете придерживаться этих несложных правил, то
          лишний вес
        </div>
      </div>
    </div>
</div>
