<section id="author" class="author page">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-center d-none d-lg-block" data-sticky-container>
        <img
          data-margin-top="100"
          class="js-sticky wow fadeInRight"
          src="/assets/img/author.png"
          srcset="/assets/img/author@2x.png 2x"
          />
      </div>
      <div class="col-lg-7">
        <h2>Об авторе</h2>
        <div class="d-lg-none text-center">
          <img
            class="wow fadeInUp"
            src="/assets/img/author.png"
            srcset="/assets/img/author@2x.png 2x"
            />
        </div>
        <article>
          <p>
            Здравствуйте, я Куралов Ержан.
          </p>
          <p>
            Я обычный человек, люблю поесть и не люблю много двигаться. Всю свою
            сознательную жизнь боролся с лишним весом, и постоянно проигрывал в
            этой борьбе.
          </p>
          <p>
            С каждым годом набирал еще и еще лишних килограммов. И вот, я создал
            методику похудения по которой комфортно, без диет и тяжелых
            физических нагрузок, скинул 14 кг. Достиг оптимального веса и
            остаюсь в форме без особых усилий, вот уже полтора года.
          </p>
          <p>
            Все что вам потребуется для успеха, это ваше желание похудеть и
            умение мечтать.
          </p>
          <p>
            У меня есть семь причин, почему я могу вам помочь похудеть.
            <ol>
              <li>
                Я похудел на 14 кг по своей новой методике. Достиг оптимального
                для меня веса и объёма и без усилий остаюсь в нужной форме.
              </li>
              <li>
                Я имею большое количество неудачных попыток похудеть,
                посредством самых разных диет. Поэтому знаю, что работает и что
                не работает. <br>
                Мои неудачные попытки включают, разные подходы:<br>
                — Всяческие голодания и режимы питания. <br>
                — Исключение определенных продуктов. Отказ от сладкого, от
                углеводов, от жиров.<br>
                — Белковые диеты.<br>
                — Эксперименты с частотой приема пищи, редко, часто, в строгое
                время, только когда голоден или наоборот, когда не голоден.<br>
                Но все эти методики коррекции питания несли с собой страдания,
                голод, пониженный уровень настроения, раздражительность. И я
                бросал все эти диеты.<br>
                В итоге эффекта или не было, или был временный эффект. И лишний
                вес, с таким трудом скинутый, возвращался снова.<br>
                И в который раз наступало разочарование. В себе, в своей силе
                воли, в мечте похудеть и в диетах. И если все вышеперечисленное
                не работает, я искал, то что работает.
              </li>
              <li>
                Я имею большое количество неудачных попыток похудеть посредством
                самых разных методик физической активности. И я знаю, что
                работает и что нет.<br>
                Я пытался бегать, плавать, тренировался на тренажерах, ездил на
                велосипеде.<br>
                Каждая тренировка — это было усилие над собой, напряжение силы
                воли. <br>
                Мне обещали, скоро вас будет тянуть в спорт зал. Неправда. <br>
                На каждую тренировку нужно было себя заставлять. И если бы был
                выбор тренироваться или нет, я бы без колебаний выбрал –
                пропустить тренировку.<br>
                И в итоге результат был временным и совсем не таким, как я
                хотел. Все равно оставался лишний вес. <br>
                А когда я переставал тренироваться, килограммы возвращались
                драматически быстро.
              </li>
              <li>
                У меня высшее медицинское образование.<br>
                Я знаю анатомию, физиологию, биохимию, диетологию, психологию и
                остальные науки, нужные для правильного похудения, на уровне
                классического, академического образования. <br>
                И моя новая методика похудения, основана на этих знаниях.
              </li>
              <li>
                У меня, 24 года!!! вдохновенных поисков легкого и комфортного
                похудения. С изучением теории и практики. А кто ищет, тот всегда
                найдет, и я нашел.
              </li>
              <li>
                Я честен перед вами. То, что я рассказываю вам, я рассказываю
                своим близким людям. И я рад, когда вижу, как они, следуя моей
                методике получают результаты.
                Я искренне желаю, чтобы как можно больше людей стали стройнее и
                счастливее.
              </li>
              <li>
                Седьмое. Моя методика проста. И вы, освоив ее и получив
                результат, сможете научить других.
              </li>
            </ol>
          </p>
        </article>
        <a href="author.html" class="btn btn-lg btn-outline-primary">Полная
          информация об авторе здесь</a>
      </div>
    </div>
  </div>
</section>
