<form>
  <div class="form-group row align-items-center">
    <label class="col-4" for="name">Ваше имя</label>
    <div class="col-8">
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        placeholder="Куралов Ержан"
      />
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label class="col-4" for="phone">Ваш номер</label>
    <div class="col-8">
      <input
        type="tel"
        class="form-control js-phone"
        id="phone"
        aria-describedby="phoneHelp"
        placeholder="+7 (____) ____ - ___ - ___"
      />
    </div>
  </div>
  <div class="form-group">
    <textarea
      class="form-control"
      id="question"
      rows="5"
      placeholder="Введите ваш вопрос"
    ></textarea>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Задать вопрос</button>
  </div>
</form>
