<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Мечтай и стройней</title>
  <link
    href="https://fonts.googleapis.com/css?family=Comfortaa:500,600,700,800|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="assets/styles.min.css" />
</head>
