<section id="methods" class="methods page">
  <div class="container">
    <div class="row methods-row">
      <div class="col-lg-8">
        <h2>О методике</h2>
        <div class="d-lg-none text-center">
          <img
            class="wow fadeInUp"
            src="/assets/img/methods.png"
            srcset="/assets/img/methods@2x.png 2x"
            />
        </div>
        <article>
          <h3>Начнем с краткого итога</h3>
          <p>
            Убеждение «Я стройный», создает легкие привычки, ведущие к
            стройности. Вы стройнеете и сильнее закрепляете убеждение «Я
            Стройный».
          </p>
          <p>
            И наоборот убеждение «Я толстый», формирует привычки переедать и не
            двигаться. Что в свою очередь ведет к набору лишнего веса и
            закреплению убеждения «Я толстый»
          </p>
          <p>
            Что выбрать, это Ваше решение, и оно повлияет на всю вашу жизнь.
          </p>
          <p>
            Важно, что после того как вы похудеете, убеждение «Я стройный» и
            новые модели поведения останутся. Поэтому вы будете стройным всегда.
            Это вдохновляет.
          </p>
          <p>
            Будьте стройными с приложением «Мечтай и стройней»!
          </p>
        </article>
        <article>
          <h3>
            Коротко о методике
          </h3>
          <p>
            Наше убеждение относительно нашей внешности, определяет нашу
            внешность.
          </p>
          <p>
            Поэтому для похудения нужно создать, новое убеждение «Я стройный».
            Так как если вы воспринимаете себя стройным, то будете стройным.
            Если вы воспринимаете себя толстым, то будете толстым.
          </p>
          <p>
            У людей с избыточным весом, выработался рефлекс-убеждение «Я
            толстый».
          </p>
          <p>
            Они видят себя в зеркале и изображение идентифицируется - это Я и я
            толстый.
          </p>
          <p>
            Это моя одежда и она большого размера.
          </p>
          <p>
            И таких неосознанных закреплений за месяцы и годы, происходит
            множество. На приобретенный рефлекс, «Я толстый», формируются
            подтверждающие это убеждение, модели поведения. Чаще всего,
            нездоровые привычки питания и сниженная двигательная активность.
          </p>
          <p>
            Но все меняется, когда вы осознанно создаете новое убеждение – «Я
            стройный» с помощью приложения «Мечтай и стройней»
          </p>
        </article>
        <article>
          <h3>
            Новое убеждение «Я стройный», запустит комплексный процесс
            преобразования вашего тела
          </h3>
          <p>
            На ваше похудение будут влиять два мощных фактора.
          </p>
          <h6>
            Первый фактор.
          </h6>
          <p>
            Правило психологии - Наши убеждения могут генерировать собственные
            подтверждения, самореализующиеся пророчества. Это тенденция,
            выраженная в том, что ожидания вызывают поведение их подтверждающее.
          </p>
          <h6>
            Второй фактор.
          </h6>
          <p>
            Это эффект Плацебо. А точнее, за процесс похудения возьмется ваш
            разум. Вы слышали об эффекте плацебо? Это когда человеку с
            определенным заболеванием дают вещество без лечебных свойств
            (наподобие мела или воды), но в больном создают уверенность, что это
            лекарство. И пациент излечивается.
          </p>
          <p>
            Однако больного человека излечивает не вещество-пустышка, а
            собственный разум, который верит в лечение.
          </p>
          <p>
            И если разум может вылечить тело, то он может сделать ваше тело
            стройным. Главное, чтобы ваш разум поверил, что тело, в котором он
            находится, стройное. Через формирование убеждения «Я стройный».
          </p>
          <p>
            Новое убеждение, будет влиять на внутренний метаболизм. Организм
            перестанет активно накапливать запасы в виде жира и начнет их
            расходовать. Будут формироваться новые модели поведения, связанные с
            питанием и физической активностью.
          </p>
          <p>
            Вы заметите, что раньше съедали три куска торта.
          </p>
          <p>
            А теперь два куска съели и больше не хочется. Не заставляйте себя
            по-старому съедать три, ограничьтесь двумя. Ведь больше и не
            хочется. А в дальнейшем будете наедаться и одним.
          </p>
          <p>
            Раньше вы плотно ужинали, а теперь хочется съесть меньше. Или
            заменить ужин на легкий перекус.
          </p>
          <p>
            Именно хочется, по-новому. Вас никто не заставляет. Ваше тело,
            которое стремится воплотить новое убеждение будет формировать новое
            отношение к количеству и качеству еды. И сила воли не нужна в этом
            процессе. Еще вы заметите, изменения в двигательной активности.
            Раньше вы в магазин за углом ездили на машине, а теперь хочется
            сходить пешком. Или прогуляться перед сном. Или подняться по
            лестнице вместо лифта. Или еще что-либо… Не противьтесь своим новым
            желаниям, они появляются из вашего убеждения «Я стройный» и
            формируют вашу стройность. Новое убеждение влияет на ваш организм и
            создает новые привычки. И одной из ваших новых привычек, возможно
            станет выполнение простого одноминутного физического упражнения,
            которое добавит вашей стройности еще и спортивности.
          </p>
          <p>
            Будьте стройными с приложением «Мечтай и стройней»!
          </p>
          <a href="method.html" class="btn btn-lg btn-outline-primary">Полная
            информация о методике здесь</a>
        </article>
      </div>
      <div class="col-lg-4 d-none d-lg-block" data-sticky-container>
        <img
          data-margin-top="100"
          class="js-sticky wow fadeInLeft"
          src="/assets/img/methods.png"
          srcset="/assets/img/methods@2x.png 2x"
          />
      </div>
    </div>
  </div>
</section>
