$theme-colors: (
  'primary': #0599d9,
  'secondary': #05a30b,
  'light': #646464,
  'disabled': #b8b8b8,
  'dark': #333333,
  'white': #ffffff,
  'black': #000000
);
// $enable-shadows: false;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Comfortaa', cursive;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`

// $font-size-lg: 18px;
// $font-size-sm: 12px;

// $link-color: theme-color("dark");
// $link-decoration: underline;
// $link-hover-color: theme-color(primary);
// $link-hover-decoration: underline;

$body-color: theme-color('dark');
// $body-bg: #f7f7f7;
// $text-muted: rgba( theme-color("dark"), 0.4);

$h1-font-size: 40px;
$h1-font-size-lg: 72px;
$h2-font-size: 24px;
$h3-font-size: 20px;
// $h3-font-size-lg:             32px;
// $h4-font-size: 20px;
// $h4-font-size-lg:             42px;
// $h5-font-size:                18px;
$h6-font-size: 14px;
// $h6-font-size-lg:             40px;

// $headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 600;
// $headings-line-height:        1.33;

$paragraph-margin-bottom: 15px;

// $transition: all 0.3s ease-in-out;

// $navbar-height: 110px;

$nav-page-link-color: theme-color(dark);
// $nav-page-link-spacing-y: 11px;
// $nav-page-link-spacing-y-lg: 35px;

// $navbar-nav-link-padding-x: 12px;
// $navbar-padding-x: ;
$navbar-padding-y: 7.64px;

// $modal-content-border-width:        0;

// $modal-backdrop-bg:                 theme-color('white');
// $modal-backdrop-opacity:            .8;

$navbar-light-color: theme-color(dark);
$navbar-light-hover-color: theme-color(dark);
$navbar-light-active-color: rgba($black, 0.9) !default;
$navbar-light-disabled-color: rgba($black, 0.3) !default;
$navbar-light-toggler-icon-bg: str-replace(
  url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"),
  '#',
  '%23'
) !default;
$navbar-light-toggler-border-color: rgba($black, 0.1) !default;

$input-btn-padding-y: 9px;
$input-btn-padding-x: 1.5rem;
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;

$btn-padding-y-lg: 18px;
$btn-padding-x-lg: 33px;
$btn-font-size-lg: 16px;
$btn-line-height-lg: 20px;

$border-radius: 6px;
$border-radius-lg: 10px;
$border-radius-sm: 3px;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$card-cap-bg: $white;

$form-group-margin-bottom: 30px;
$input-padding-y: 19px;
$input-padding-x: 20px;

$text-muted: #d9d9d9;
