<section class="list">
    <div class="container">
        <div class="row list-item align-items-center">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        01
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    Я похудел на <strong>14 кг</strong> по своей новой методике.
                    Достиг оптимального для меня веса и объёма и без усилий
                    остаюсь
                    в нужной форме.
                </div>
            </div>
        </div>
        <div class="row list-item">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        02
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    Я имею большое количество <strong> неудачных попыток
                        похудеть</strong>,
                    посредством самых разных диет. Поэтому знаю, что работает и
                    что
                    не работает. <br>
                    Мои неудачные попытки включают, разные подходы:<br>
                    — Всяческие голодания и режимы питания. <br>
                    — Исключение определенных продуктов. Отказ от сладкого, от
                    углеводов, от жиров.<br>
                    — Белковые диеты.<br>
                    — Эксперименты с частотой приема пищи, редко, часто, в
                    строгое
                    время, только когда голоден или наоборот, когда не голоден.<br>
                    Но все эти методики коррекции питания несли с собой
                    страдания,
                    голод, пониженный уровень настроения, раздражительность. И я
                    бросал все эти диеты.<br>
                    В итоге эффекта или не было, или был временный эффект. И
                    лишний
                    вес, с таким трудом скинутый, возвращался снова.<br>
                    И в который раз наступало разочарование. В себе, в своей
                    силе
                    воли, в мечте похудеть и в диетах. И если все
                    вышеперечисленное
                    не работает, я искал, то что работает.
                </div>
            </div>
        </div>
        <div class="row list-item">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        03
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    Я имею большое количество неудачных попыток похудеть
                    посредством
                    самых разных методик физической активности. И я знаю, что
                    работает и что нет.<br>
                    Я пытался бегать, плавать, тренировался на тренажерах, ездил
                    на
                    велосипеде.<br>
                    Каждая тренировка — это было усилие над собой, напряжение
                    силы
                    воли. <br>
                    Мне обещали, скоро вас будет тянуть в спорт зал. Неправда.
                    <br>
                    На каждую тренировку нужно было себя заставлять. И если бы
                    был
                    выбор тренироваться или нет, я бы без колебаний выбрал –
                    пропустить тренировку.<br>
                    И в итоге результат был временным и совсем не таким, как я
                    хотел. Все равно оставался лишний вес. <br>
                    А когда я переставал тренироваться, килограммы возвращались
                    драматически быстро.
                </div>
            </div>
        </div>
        <div class="row list-item">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        04
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    У меня высшее медицинское образование.<br>
                    Я знаю анатомию, физиологию, биохимию, диетологию,
                    психологию и
                    остальные науки, нужные для правильного похудения, на уровне
                    классического, академического образования. <br>
                    И моя новая методика похудения, основана на этих знаниях.
                </div>
            </div>
        </div>
        <div class="row list-item align-items-center">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        05
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    У меня, 24 года!!! вдохновенных поисков легкого и
                    комфортного
                    похудения. С изучением теории и практики. А кто ищет, тот
                    всегда
                    найдет, и я нашел.
                </div>
            </div>
        </div>
        <div class="row list-item align-items-center">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        06
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    Я честен перед вами. То, что я рассказываю вам, я
                    рассказываю
                    своим близким людям. И я рад, когда вижу, как они, следуя
                    моей
                    методике получают результаты.
                    Я искренне желаю, чтобы как можно больше людей стали
                    стройнее и
                    счастливее.
                </div>
            </div>
        </div>
        <div class="row list-item align-items-center">
            <div class="col-2">
                <div class="list-number">
                    <div class="list-number-content">
                        07
                    </div>
                </div>
            </div>
            <div class="offset-1 col-9">
                <div class="list-text">
                    Седьмое. Моя методика проста. И вы, освоив ее и получив
                    результат, сможете научить других.
                </div>
            </div>
        </div>
    </div>
</section>