<section class="quote quote-author text-white bg-primary">
    <div class="container quote-content">
        <div class="quote-text">
            Все что вам потребуется для успеха, это ваше желание похудеть и
            умение мечтать.
        </div>
        <img src="/assets/img/quote-logo.svg" alt="" class="quote-logo">
        <img src="/assets/img/quote-sign.svg" alt="" class="quote-sign">
    </div>
</section>