<div class="inner-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img
                    class="wow fadeInRight"
                    data-margin-top="100"
                    src="/assets/img/author-left.png"
                    srcset="/assets/img/author-left@2x.png 2x"
                    />
            </div>
            <div class="col-md-7 offset-md-1">
                <article>
                    <h3>
                        Здравствуйте, я Куралов Ержан.
                    </h3>
                    <p>
                        Я обычный человек, люблю поесть и не люблю много
                        двигаться. Всю свою сознательную жизнь боролся с лишним
                        весом, и постоянно проигрывал в этой борьбе.
                    </p>
                    <p>
                        С каждым годом набирал еще и еще лишних килограммов.
                        И вот, я создал методику похудения по которой комфортно,
                        без диет и тяжелых физических нагрузок, скинул 14 кг.
                        Достиг оптимального веса и остаюсь в форме без особых
                        усилий, вот уже полтора года.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>